body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}

  main {
    height: auto;
    margin: 100px 0;
  }
  
  
  /* Bloque de productos */
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  

  